@import url('../css/fonts.css');

:root
{
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Lexend:'Lexend_Deca',cursive;
    --Livvic:'Livvic',cursive;


    --text-grey:#3f4954;
    --text-light:rgba(102, 136, 102, 0.714);
    --bg-color:#0f0f0f;
    --white:#ffffFf;
    --midnight:#104f55;

    --sky :linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

html,body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

input[type="email"]
{
    text-transform: lowercase !important;
}
/* #####global class### */
a{
    text-decoration: none;
}
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.active
{
    color:skyblue!important;
}
.container
{
    margin: 0 2vw;
}
.text-gray
{
    color: var(--text-grey);
}
*{
    list-style: none;
    text-transform: capitalize;
}
h1
{   font-family: var(--Lexend);
    font-size: 3rem;
}
h3
{
    font-family: var(--Abel);
    font-size: 2.5rem;
}
h2
{
    font-family: var(--Lexend);

}

button.btn
{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: var(--Livvic);
    font-size: 1rem;
    cursor: pointer;
    background-color: skyblue;

}


/* navbar */

.what
{
    font-family: var(--Abel);
    font-size: 5rem !important;
}

.nav{
    background-color: white;
    padding: 0 1vw;
    height: 70px;
    overflow: hidden;
    box-shadow: 0px 7px 20px skyblue !important ;
    position: fixed; 
   width: 98%;
   backface-visibility: none;
   z-index: 9;

  
    
}

.logo
{
    float:left;
}

.collapse{
    height: auto;
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
   font-family: var(--Abel);
    font-weight: bold;
    font-size: 1.6rem;
    float:left;
    
    
    

    /* text-decoration: none; */
}

.nav .nav-menu
{
    justify-content: space-between;
}
.nav .nav-items{
    
    display:flex;
    margin:0;
}
.nav .nav-items .nav-link a{
    color:var(--text-light);
}
.nav .nav-items .nav-link{
    padding:1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Lexend);
        
}
.nav .nav-items .nav-link:hover
{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
        color: white;
}
.nav .social
{
    padding:  1.4rem 0;
}
.nav .social i
{
    padding:  0 .4rem;
    font-size:2rem;
}
.nav .social a{
    color:var(--text-light)
}
.text-grey{
    color: var(--text-grey);
}

.nav .toggle-collapse
{
    position: absolute;
    top:0%;
    width: 97%;
    cursor: pointer;
}
.nav .toggle-collapse .toggle-icons
{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0rem;
    display: none;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--bg-color);

}

.bold
{
    font-size: 2rem !important;
}
.red
{
    color: skyblue;
    font-size: 1rem;
}
/* main section  */

/* site title */


.cover .site-title
{
    height:55vw;
    margin-top:70px;
    margin-bottom: 100px;
    padding:0;
    
}
.cover .site-title img
{
    
    width: 100%;
    height: 100%;
}

/* site title close */

.cover .site-background{
    padding-top: 0;
    text-align: center;
    color: var(--white);
}

h1,h3{
    margin: 1.4rem;
    font-size: 3.5rem;
    
}
.cover .site-title h1{
    
    text-align: center;
    display: block;
    font-size:3.5vw;
    
    
}
.amazing
{
    display: flex;
    width: 100%;
    position: absolute;
    margin:0 auto;
    align-items: center;
    justify-content: center;

}

main .site-title .btn{
    
    background-color:linear-gradient(120deg, #a1c4fd 0%, #41b0e4 100%);
}

main .site-background .btn:hover
{
    background:transparent;
    border: 1px solid white;
    color: white;
}


main .art{
    background: url('../images/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: auto;
    width:100%;
    margin-top:-20px;
    background-blend-mode: var(--white);
    background-size:cover;
}



main .art-post
{
    padding: 1rem;
}
main .art-post .art-content
{
    border-radius: 20px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: auto;
    margin:3rem 2rem;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.726);
}

main .art-content .art-title
{
    padding: 1rem 0;
    color:black;
}
main .art-content h3
{
    font-size: 2rem;
}

main .art content .btn-art
{
    padding:5rem 2rem;
    margin:5rem;
}
main .art-content span
{
    display:block;
    margin:20px;
}

section .container .owl-nav
{
    position: absolute;
    top:0;
    margin: 0px auto;
    width:100%;
    

}
.owl-navigation
{
    color: grey;
    background: transparent;
   
}

/* side content */
main .site-content
{
    display:grid;
    grid-template-columns: 70% 30%;
}
main .post-content
{
    margin-bottom: 5rem;
    width:100%;
}
main .site-content .post-content >.post-image,.post-title
{
    padding: 1rem 2rem;
    position: relative;
}
main .site-content .post-content> .post-image .post-info
{
    background-color: skyblue;
    padding: 1rem;
    position: absolute;
    bottom:0;
    left:20vw;
    border-radius: 3rem;
}
main .site-content .post-content > .post-image >div
{
    overflow: hidden;
}
main .site-content .post-content > .post-image .img
{
    width:100%;
}
main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.4,1.4);
    transition: 2s transform;

}
main .site-content .post-content >.post-image .post-info span
{
    margin:0.5rem;
}
main .post-content .post-title a{
    font-family: var(--Anton);
    font-size:1.5rem;
    color: grey;
}

main .post-content .post-title .post-btn
{
    border-radius: 0;
    background-color: skyblue;
    padding: 7 rem 1.5 rem;
}

.site-content .sidebar .category .list {
   font-family: var(--Lexend);
}

.site-content .sidebar .category .list .list-items{
    background-color: skyblue;
    padding:.4rem 1rem;
    margin:.8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}
.site-content .sidebar .popular-post .post-content{
    padding: 0;
}
.site-content .sidebar .popular-post h2
{
    padding-top: 8rem;
}

.site-content .sidebar .popular-post h3
{
    font-size:1rem !important;
}

.site-content .sidebar .newsletter
{
    padding-top: 1rem;
}
.site-content .sidebar .newsletter .form-element
{
    padding:.5rem 2rem;
}
.site-content .sidebar .newsletter .input-element
{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .5rem;
    font-family: var(--Lexend);
    font-size: 1rem;
}
.site-content .sidebar .newsletter .form-btn
{
    border-radius: 0;
    width: 83%;
    padding: .8rem;
    margin: 1rem 0;
    background-color: skyblue;
}


/* main sectin close */
/* footer section  */
/* footer section xxxxx */
footer.footer
{
    height :100%;
    background-color: var(--bg-color);
    position: relative;
}
footer.footer .container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
footer.footer .container> div{
    flex-basis: 0;
    flex-grow: 1;
    padding: 3rem 1.9rem;
}
footer.footer .container h2
{
    color:white;
}
footer.footer .container 
{
    color:var(--text-grey)
}
footer.footer .container .form-element input
{
    padding:.5rem 1rem;
    border:none;
    widht:74%;
}
footer.footer .container .form-element button
{
    background-color: lightblue;
    border-radius: 3px;
    padding: .6rem 1rem;
    
}
footer.footer .instagram div>img
{
    display:inline-block;
    width:25%;
    height:50%;
    overflow: hidden;
    margin:.5rem;
}

footer.footer .follow i
{
    padding: 1rem;
    font-size: 2rem;
    color:white;
}
footer.footer .rights
{
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffFf;
}
footer.footer .rights a
{
    font-size: 20px;
    font-family: 'Abel';
    display: flex;
    margin:0 auto;
    align-items: center;
    color: white;
}





.blur
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 22;
    background-color: rgba(173, 216, 230, 0.479);
    display: none;
    margin:0;
    padding:0;
    align-content: center !important;
    justify-content: center !important;
    
}
.pop
{
    
    width:90%;
    height:auto;
    margin:10px auto;

    
    
}
.close
{
    width:30x;
    height:30px;
    border-radius: 4px;
    padding: 5px 5.2;
    font-size: 1rem;
    background-color:white;
    position: relative;
    top:1%;
    left:96%;
    border:none;
    transform: initial;
    transition: 1s transform;
}
.close:hover
{
    transform: scale(1.5,1.5);
    transition: 500ms transform;
}

.pop img
{
    width: 100%;
}

.loader-back
{
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    z-index: 100;
}
.loader
{
    width:90%;
   
   
}
.loader img
{
    width: 100%;
}



/* media query */
@media screen and ( max-width:1000px )
{
    .site-content .post-content >.post-image .post-info
    {   left:2rem !important;
        bottom:1.2rem !important;
        border-radius: 0 !important;
    }

    footer.footer .container
    {grid-template-columns: 50% 50%;}
    .pop
{
    width:70%;  
}
   
}

@media screen and ( max-width:750px)
{
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
.nav .toggle-collapse .toggle-icons
{
    
    display: flex;

}
    main .site-content{
        grid-template-columns: 100%;
    }
    footer.footer .container
    {grid-template-columns: 100%}

    
  
    
main .site-title h1,h3{
    margin: 1.4rem;
    font-size: 2.5rem;
    
}
.pop
{
    width:80%;  
}

 .con{
         grid-template-columns: 1fr !important;
     } 
     .marker
     {
         display: none;
     }

}
@media screen and ( max-width:520px )
{
    main .art
    {
        height:125vh;
    }
    .site-content .post-content >.post-image .post-info
    {
        display: none;
    }
    footer.footer .container >div
    {padding: 1rem 0.9rem !important;}
    main .site-title h1,h3{
    margin: 1.4rem;
    font-size: 1rem;
    
}

    

}

